@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@font-face {
  font-family: 'Reislust';
  src: url('Reislust-97D7.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --raisin: #171B27;
  --darkblue: #212738;
  --brightblue: #0969D7;
  --almostwhite: #EDF2EF;
  --honey: #f6db55;
  --darkgold: #9C6D3A;
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(#212738, #171B27);
  color: #EDF2EF;
}
#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
article.appContainer {
  display: grid;
  place-items: center;
  min-height: 60vh;
  padding-bottom: 50px;
}

#score,
#level {
  position: absolute;
  top: 0;
  padding: 0.5rem 1rem;
  font-size: medium;
  font-weight: 300;
}
#score {
  left: 0;
}
#level {
  right: 0;
}
#checkMark {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 10rem;
  color: #f6db55;
  translate: -50% -50%;
  scale: 0;
  transition: scale 0.2s;
}

.logoContainer {
  position: relative;
  margin: 3rem auto;
}
.title {
  color: #f6db55;
}
.logoFont {
  position: relative;
  font-size: 7rem;
  font-family: 'Reislust';
  line-height: 0.2;
  z-index: 1;
  margin-left: 0.15em;
}
.appFont {
  color: #f6db55;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  font-weight: 200;
  line-height: 1.5;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logoIcon {
  position: absolute;
  width: 80px;
  top: 20%;
  left: 50%;
  translate: -50% -50%;
  rotate: 30deg;
  z-index: 0;
  opacity: 0.3;
}
#appSelector {
  background-color: transparent;
  border: none;
  display: block;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}
#appSelector:has(.dropdown:not(.hidden)) {
  background-color: var(--raisin);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 1px solid var(--honey);
}
#appSelectorCurrent {
  all: unset;
  color: var(--honey);
  position: absolute;
  top: 50%;
  right: 0;
  translate: -20% -50%;
}
#appSelector .dropdown {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  translate: 0 100%;
  padding: 3rem 1rem 3rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-image: linear-gradient(var(--raisin), var(--darkblue));
  transition: all 0.2s linear;
  overflow: hidden;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px solid var(--honey);
  display: grid;
  gap: 2rem;
  color: var(--almostwhite);
  box-shadow: 4px 30px 40px black;
}
#appSelector .dropdown.hidden {
  height: 0;
  padding: 0;
  opacity: 0;
  transition: all 0.2s linear;
}
#appSelector .appOption {
  background-color: transparent;
  border: none;
  color: inherit;
}
#appSelector .appOption:hover {
  background-color: var(--brightblue);
  cursor: pointer;
}

button,
a {
  cursor: pointer;
}
button:focus-visible,
a:focus-visible {
  outline: 4px solid #f6db55;
}
#currentWord,
.honeyWord {
  font-size: 2rem;
  border: 1px solid #f6db55;
  background: transparent;
  color: #EDF2EF;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 25px #f6db5522 inset;
}
button.definition {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: #0969D7;
  border: none;
  color: #EDF2EF;
  box-shadow: 2px 2px 20px #00000044;
}
.defContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.speechContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  gap: 1.5rem;
}
button.speech {
  border: 1px solid #f6db55;
  background: transparent;
  color: #EDF2EF;
  border-radius: 0.5rem;
  padding: 0.4rem 1.2rem;
  box-shadow: 0 0 25px #f6db5522 inset;
  text-shadow: 0 0 10px black;
}
button.speech:last-child {
  grid-column: span 2;
}
button.primary {
  margin: 1.5rem auto 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2.5rem;
  background: #0969D7;
  border: none;
  color: #EDF2EF;
  font-weight: 800;
  font-size: large;
  box-shadow: 2px 2px 20px #00000044;
}
button.warning {
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  padding: 0.4rem 1.2rem;
  background: #9C6D3A;
  color: #EDF2EF;
  border: none;
  box-shadow: 2px 2px 20px #00000044;
}
form {
  display: grid;
  gap: 0.5rem;
}
form input {
  font-size: x-large;
  color: #EDF2EF;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #0969D7;
  background: #EDF2EF22;
  text-align: center;
}


footer>nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  translate: -50%;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 600px;
  padding: 0.5rem 2rem 0.75rem;
  font-size: 1.75rem;
  border-top: 1px solid #0969D7;
  background: #171B27aa;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
footer button {
  background-color: transparent;
  border: none;
  color: var(--almostwhite);
  padding: 1rem;
  opacity: 0.7
}
footer button:hover {
  opacity: 1;
  scale: 1.1;
  color: var(--honey);
}

@media screen and (min-width: 600px) {
  #score,
  #level {
    font-size: 2rem;
    top: 3vh;
  }
  #score {
    left: 10vw;
  }
  #level {
    right: 10vw;
  }
  .logoContainer {
    scale: 1.5;
    margin-top: 15vh;
    margin-bottom: 2rem; 
  }
  .speechContainer,
  .defContainer {
    width: 80vw;
    max-width: 900px;
  }
  button.primary {
    font-size: 2rem;
    padding: 0.5rem 2.5rem;
  }
  #currentWord,
  .honeyWord {
    font-size: 3rem
  }
  button.speech,
  button.definition {
    font-size: larger;
    padding: 1rem;
  }
  button.warning {
    font-size: larger;
    padding: 0.5rem 2.5rem;
  }
}

@media screen and (max-height: 900px) and (min-width: 600px) {
  .logoContainer {
    scale: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .speechContainer {
    max-width: 50vw;
  }
  button.speech {
    font-size: initial;
    padding: 0.4rem 1.2rem;
  }
}

@media screen and (max-height: 500px) and (min-width: 600px) {
  #score,
  #level {
    font-size: large;
  }
  .logoContainer {
    position: fixed;
    top: 5vh;
    left: 5vw;
  }
  #spellingInputContainer {
    position: fixed;
    left: 6vw;
    top: 40vh;
  }
  button.primary {
    font-size: large;
    padding: 0.5rem 2rem;
    transform: translateY(-50%)
  }
  .speechContainer,
  .defContainer {
    position: fixed;
    right: 60px;
    top: 0;
    height: 100vh;
    max-width: 45vw;
    grid-auto-rows: 1fr;
    padding: 4rem 1rem;
  }
  footer > nav {
    right: 0;
    left: unset;
    translate: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    flex-direction: column;
    padding: 2rem 0;
  }
  button.warning {
    position: fixed;
    bottom: 0vh;
    left: 17vw;
    font-size: medium;
    padding: 0.25rem 2rem;
  }
  #currentWord,
  .honeyWord {
    position: fixed;
    left: 14vw;
    top: 50vh;
    font-size: large;
  }
  button.definition {
    font-size: medium;
    padding: 0.25rem 0.5rem;
  }
  .appContainer small {
    position: fixed;
    left: 18vw;
    top: 40vh;
  }
}