#statsModal,
#userModal,
#infoModal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90vw;
    max-width: 500px;
    height: 80vh;
    max-height: 1000px;
    background-color: var(--raisin);
    color: var(--almostwhite);
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 1rem;
}
#statsModal::backdrop,
#userModal::backdrop,
#infoModal::backdrop {
    background-color: #22222288;
}
.modalTitle {
    margin: 2rem auto;
    font-size: 2.75rem;
}
.userPhoto {
    border-radius: 50%;
    margin: 1rem;
}
.modalSectionHead {
    margin: 2rem auto 1rem;
    color: var(--honey);
    font-size: 2rem;
}
.statChart {
    margin: 1rem auto 3rem;
    display: grid;
    place-items: center;
}
.recharts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    height: 500px;
}
#profileLevelSelect {
    background: transparent;
    border: 1px solid var(--honey);
    padding: 0.5rem 2rem;
    color: var(--almostwhite);
    text-align: center;
    border-radius: 1rem;
}
.gameData {
    display: flex;
    justify-content: space-evenly;
}
.modalSubHead {
    font-weight: 300;
    font-size: medium;
    text-shadow: 0 0 10px var(--darkgold);
    text-decoration: underline;
}
.modalList {
    text-align: left;
}
.modalList > li {
    margin-bottom: 0.75rem;
}
.modalClose {
    position: sticky;
    top: 0;
    left: 90%;
    text-align: right;
    background: var(--brightblue);
    color: var(--almostwhite);
    padding: 4px;
    line-height: 1;
    display: grid;
    font-size: 2rem;
    place-items: center;
    border-radius: 50%;
    border: none;
    z-index: 3;
}
.logoutBtn {
    padding: 0.5rem 2rem;
    color: var(--almostwhite);
    background-color: var(--darkgold);
    border: none;
    border-radius: 1rem;
}