#statsModal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90vw;
    max-width: 500px;
    height: 80vh;
    max-height: 1000px;
    background-color: var(--raisin);
    color: var(--almostwhite);
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 1rem;
}
#statsModal::backdrop {
    background-color: #22222288;
}
.modalTitle {
    margin: 2rem auto;
    font-size: 2.5rem;
}
.statHead {
    margin: 1rem auto;
    color: var(--honey);
}
.statChart {
    margin: 1rem auto 3rem;
    display: grid;
    place-items: center;
}
#statModalClose {
    position: sticky;
    top: 0;
    left: 90%;
    text-align: right;
    background: var(--brightblue);
    color: var(--almostwhite);
    padding: 4px;
    line-height: 1;
    display: grid;
    font-size: 2rem;
    place-items: center;
    border-radius: 50%;
    border: none;
}